*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0 ;
    position: fixed;
    z-index: 50;
    z-index: initial;
}
.header:hover{background-color: rgba(0, 0, 0, 0.9);}
.list{
    list-style-type: none;
    float : right ;
    margin-right: 200;
    z-index: 1;
}
.logo{
    margin-left:  20px;
    z-index: 1;
}
.list   li {
    display: inline-block ;
   
    margin-left: 25px;
    font-size:  26px;
    margin-top: 15px;
   
}
.list li a {
    color: gainsboro;
    text-decoration: none;
}

.page1{
    height: 100vh;
    width: 100%;
    background-image: url(../images/civil.jpg) ;
    background-size: cover ;
   
}
.list li a:hover {
    color:chartreuse;
}

.container{
    width: 40%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%  ,-50% );
    border-radius: 30px;
    text-align: center;
}

.overlay1:hover{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}
.overlay1{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}
.btn1{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    color: chartreuse;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: chartreuse;
    /* margin-left:150px ; */
}
.btn2{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    color: chartreuse;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 30px;
    border-color: chartreuse;
    margin-bottom: 5px;
}
.overlay1:hover  .btn2 {
    background-color: rgba(0, 0, 0, 0.9);
    
}
.overlay1:hover  .btn1 {
    background-color: rgba(0, 0, 0, 0.9);
    
}
.head1 {
    color: aliceblue;
}
.p1{
    color: aliceblue;
    font-size: 30px;
}
/* <!-- page2////////////////////////////////////////////////////////////////////////////////////////////////////////// --> */


.page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 63, 63);
}

.container2{
    width: 80%;
    min-height: 500px ;
    /* background-color: rgb(255, 6, 6); */
    margin: auto;
    text-align: center;
}
.welcome{
    font-style: oblique;
    
    padding-bottom: 5%;
    font-size: 40px ;
    font-weight: bold;
    color:chartreuse ;
    padding-top: 10% ;
}
.divp2{
    width: 30%;
    height: 45% ;
    /* background-color: aqua; */
    float: left;
    border-style: solid;
   
    position: relative;
    z-index: 10;
   
}
.ww{
    margin: 0  5%;
}
.i1{
    padding-top: 10%;
    font-size: 3em;
}
.wh2{
    margin-top: 8%;
    margin-bottom: 8% ;
    font-size: 30px;
    font-style: oblique;
    color: aqua;
}
.span2{
    margin-top: 8%;
    margin-bottom: 8% ;
    font-size: 20px;
    font-style: oblique;
    color: rgb(254, 255, 255);

}
.divp2 a{
    font-size: 30px;
    border: solid;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 10px;
    z-index: 5555;
   border-color: chartreuse;
   color: blue;
}
.divp2::after{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0);
    
    transition: .5s;
    opacity: 0;
    z-index: -1;
}
.divp2:hover::after{
    width: 100%;
    height: 100%;
  opacity: .5;
    
}
.divp2:hover .span2{
    color: chartreuse;
    transition: 1s;
}
/* page3///////////////////////////////////////////////////////////////////////////////////////////////////// */
.page3{
    width: 100%;
    height: 130vh ;
    background-color:darkslategray

}
.p3title{
    /* margin-top: 30px ; */
    text-align: center;
    width: 100%;
}
.p3h1{
    padding-top: 40px;
    font-size: 40px;
    color:lawngreen
}
.u1{
    color:lawngreen ;
}
.subcontainer{
   height: 400px;
   width: 80%;
   /* background-color: blue; */
   margin: auto;
   margin-top: 20px;
   position: relative;
   padding-top: 30px;
}
.div3photo1{
    /* background-image: url(../images/projects/1.jpg); */
    /* background-size:contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    width: 30%;
    height: 300px;
    background-color: aliceblue;
    float: left;
    position: relative;
}
.div3photo2{
    /* background-image: url(../images/projects/2.jpg); */
    /* background-size:contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    width: 30%;
    height: 300px;
    background-color: aliceblue;
    float: left;
    position: relative;
}
.div3photo3{
    /* background-image: url(../images/projects/3.jpg); */
    /* background-size:contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    width: 30%;
    height: 300px;
    background-color: aliceblue;
    float: left;
    position: relative;
}
.p2w{
    margin: 0  5%;
}
.p3img1{
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    position: absolute;
    z-index: 10;
}
.P3H2{
    padding-top: 20%;
    color: chartreuse;
    font-size: 27;
    transition: 1s;
}
.loc{
    font-size: 2.5em;
    color: aqua;
    padding-top: 7%;
    margin-right:8px ;
}
.P3H3{
margin-top: 10px; 
   color: wheat;
   font-size: 23px;
}
.P3OVERLAY{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
     height:100%; 
     opacity: 0;
     transition: 1s;
     text-align: center;
     z-index: 11;
}
.P3OVERLAY:hover{
    opacity: 1;
}

.P3OVERLAY:hover .P3H2{
    padding-top: 10%;
    
}
/* page4//////////////////////////////////////////////////////// */
.page4{
    background-color:rgb(32, 61, 61);

    width: 100%;
    height: 100vh;
}
.p4h1{
    padding-top: 40px;
    font-size: 40px; 
    color: burlywood;
}

.page4head{
    text-align: center;
}
.p4subcontainer{
    height: 270px;
   width: 80%;
   /* background-color: blue; */
   margin: auto;
   margin-top: 20px;
   position: relative;
   padding-top: 30px;
}
.offer1{
    width: 30%;
    height: 200px;
    background-color: aliceblue;
    float: left;
    position: relative;
    z-index: 2;
    border: 2px;
    transition: .5s;
    border: solid;
}
.p4h2{
    display: inline;
    z-index: 2;
    transition: .5s;
}
.p4p{
    font-size: 26px;
    font-style: oblique;
    margin-top: 20px;
    z-index: 2;
    transition: .5s;
    padding-left: 8%;
}
.icon4{
    font-size: 3em;
    z-index: 2;
    color:darkcyan;
    padding-left: 3px;
    padding-top: 3px;
}
.offer1::after{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    background-color: rgba(32, 61, 61);
    
    transition: .5s;
    opacity: 0;
    z-index: -1;

}
.offer1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
    
}
.offer1:hover .p4h2{
    color: chartreuse;
}
.offer1:hover{
    border-color: chartreuse;}
.offer1:hover .p4p{
    color: white;
}
/* page5///////////////////////////////////////////////////////////////////////////////////////// */
.page5{
    background-color:rgb(23, 44, 44);

    width: 100%;
    height: 85vh;
}
.p5container{
     /* background-color: blue; */
     position: relative;
     width: 80%;
     margin: auto;
     padding-top: 90px;

}
.p5subcontainer{
    background-color: rgb(17, 36, 36);
float: left;
width: 45%;
height: 450px;
/* border: solid 2px; */
/* border-color: chartreuse; */
}
.p5p1{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    color: chartreuse;
}
.P5P2{
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 4px;
    font-style: italic;
    color: rgb(213, 213, 213);
}
.service-list{
    color: rgb(82, 207, 207);
}
.service-list li i{
    padding-right: 3px;
    color: darkolivegreen;
    padding-top: 8px;
}
.service-list li{
font-size: 21px;
list-style-type:none;
padding-left: 4px;
}
.u2{
    color: aqua;
}
.P5IMGCONTAINER{
    /* background-color: rgb(87, 57, 59); */
    float: left;
    width: 45%;
    height: 500px;
}
.p5img{
    background-size: contain;
    position: relative;
    height: 450px;
}
.p5img{
padding-left: 5%;
padding-right: 5%;
margin: auto;

}
.checklistdiv{
    /* background-color: bisque; */
    
    text-align: center;
}
.checklist li{
    /* display: inline; */
    list-style-position: inside;
   

width: 20px;
height: 20px;
display: inline-block;
background-color: #a8a8a8;
margin: 10px 5px;
border-radius: 50%;
}
.checklist li.active{
    background-color: hsl(0, 82%, 42%);
}
.checklist li:hover{
    background-color: hsl(0, 82%, 42%);
}
/* * page6///////////////////////////////////////////////////////////////////////////////////////// */ 
.page6{
    background-color:rgb(24, 88, 88);
background-image: url(../images/projects/p6layover2.jpg);
    width: 100%;
    height: 50VH; 
    background-attachment: fixed;
    background-size: cover;
}
.p6container{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.p6subcontainer{
    width: 70%;
    /* background-color: aqua; */
    margin: auto;
    position: relative;
    height: inherit;
}
.p6content{
    float: left;
width: 21.25%;
/* background-color: blue; */
margin-top: 10%;
text-align: center;
}
.ww2{
    margin-left: 5%;
    
}
.p6icon{
    color: coral;
    font-size: 3em;
}
.p6icontitle{
    font-size: 30px;
    color:chocolate;
}
.p6iconnum{
    font-size: 30px;
    color: rgb(193, 133, 59);
}
/* page7//////////////////////////////////////////////////////////////////// */
.page7{
    
        background-color:rgb(23, 44, 44);
    
        width: 100%;
        height: 100vh;

}
.p7container{
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}
.h1salary{
    font-size: 50px;
    padding-bottom: 30px;
    color: white;
}
.p7sub-container{
    /* background-color: rgb(17, 36, 36); */
width: 80%;
height: 500px;
/* border: solid 2px; */
/* border-color: cha?rtreuse; */
margin: auto;
}
.salary{
    float: left;
    width: 30%;
    border: solid;
    border-color: chartreuse;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}
.p6sa-h2{
    font-size: 30px;
    padding-top: 20px;
    color: white;
    transition: .5s;
}
.divsa-price{
    border: solid;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    border-color: chartreuse;
    transition: .5s;
}
.h3sa-price{
padding-top: 27px;
font-size: 30px;
transition: .5s;
}
.psa-price{
    font-size: 30px;
    transition: .5s;
}
.pjobreq{
    font-size: 30px;
}
.ul-jobreq li{
    font-size: 25px; 
    list-style-type: none;
}
.cv{
    padding-top: 20px;
    size: 300px;
    font-size: 30px;
    display: none;
overflow: hidden;
}
.cvbtn{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 30px;
    transition: .5s;
}
.salary::after{
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    background-color: rgb(190, 243, 190);
    
    transition: .5s;
    opacity: 0;
    z-index: -1;

}
.salary:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.salary:hover .divsa-price{
    border-color: rgb(0, 0, 0);
}
.salary:hover .h3sa-price{
   color: brown;
    }
    .salary:hover .psa-price{ color: brown;
    }
    .salary:hover  .cvbtn{
        background-color:rgb(23, 44, 44);
        color: chartreuse;
    }
    .salary:hover .p6sa-h2{color: black;}
    /* PAGE8///////////////////////////////////////////////////////////////////////////////////////////////////// */
    .page8{
        background-color:rgb(24, 88, 88);
    background-image: url(../images/singapora.jpeg);
        width: 100%;
        height: 60vh; 
        background-attachment: fixed;
        background-size: cover;
    }
    .p8container{
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
    .p8subcontainer{
        width: 80%;
        /* background-color: aqua; */
        margin: auto;
        position: relative;
        height: inherit;
    }
    .p8content{
        float: left;
    width: 45%;
    /* background-color: blue; */
    margin-top: 7%;
    text-align: center;
    }
    .ww3{
        margin-left: 10%;
        
    }
    .p8icon{
        color: coral;
        font-size: 3em;
    }
    .p8icontitle{
        font-size: 40px;
        color:chocolate;
    }
    .p8iconnum{
        font-size: 40px;
        color: rgb(193, 133, 59);
    }
    .p8img{
        background-size: contain;
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;
        background-image: url(../images/zeyad.jpg);
        float: left;
    }
    .pgorg{
        background-image: url(../images/elgorg.jpg);
    }
    .p8imgname{
        /* float: left; */
        text-align: left;
        padding-top: 30px;
        padding-left: 200px;
    }
    .p8imgpa{
        padding-top: 50px;
    }
    .p8-h1name{
        font-size: 30px;
        color: chocolate;
    }
    .p8-h2name{
       padding-top: 10px;
        font-size: 25px;
        color: coral;
    }
    .p8imgp{
        font-size: 22px;
        color: rgb(193, 133, 59);
    }
    /* page9///////////////////////////////////////////////////////////////////////////////////////////// */
    .page9{
        background-color:rgb(24, 88, 88);
        z-index: 5;
        height: 89vh;
    }
    .ceos{
        padding-top: 60px;
        color:chartreuse;
        margin-bottom: 30px;
        text-align: center;
       
    }
    .p9container {
        width: 80%;
        margin: auto;
    }
    
    
    .p9team-item {
        float: left;
        background-color:rgb(24, 60, 60,.5);
        width: 30%;
        padding: 14px  19px;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    .dd {
        margin: 0px  5%;
    }
    
    .p9team-img {
        width: 90%;
        margin: auto;
        position: relative;
        
    }
    .p9team-img  img {
        width: 100%;
    }
    .p9team-overley {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5) ;
        opacity: 0 ; 
        transition: 1s ;   
        /* z-index: -1;  */
    }
    
    .p9team-item:hover  .p9team-overley {
        opacity: 0.6 ;
    
    }
    .p9team-overley  a {
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgb(32, 205, 248);
        color: #fff;
        font-size: 23px;
        margin-left: auto ;
        z-index: 5;
    }
    .p9team-info-sp{transition: 1.5s;}
    .p9team-item:hover .p9team-info-sp{
        color: white;
    }
    .p9team-overley  a  i  {
        line-height: 40px ;
    }
    
    .p9team-info-title{
        color:rgb(125, 192, 58);
    }
    .p9team-info-sp{
        font-size: 20px;
    }
    .p9team-item::after {
        position: absolute;
        content: "";
    
        width: 100% ;
        height: 0 ;
    
        top: 0;
        left: 0;
    
        background-color: rgb(14, 15, 14) ;
        opacity: 0 ;
        transition: 1s;
        z-index: -1;
    }
    .p9team-item:hover::after {
        width: 100%;
        height: 100%;
        opacity: 0.5 ;
    }
    /* page10///////////////////////////////////////////////////////////////////////// */
    .page10{
        background-color:rgb(15, 54, 54);
    }
    .p10head{
        text-align: center;
        padding: 50px;
    }
    .recent{
        font-size: 40px;
    }

    .p10container{width: 80%;
        height:80vh;
        margin: auto;
        

    }
    .p10item{
        width: 30%;
        height: 90%;
        float: left;
        z-index: 1;
        position: relative;
        background-color:rgba(91, 88, 88, 0.5);

    }
    .p10img{
       padding-top: 30px;
        width:90%;
        height: 60%;
        padding-left: 10%;
        /* z-index: 1; */

    }
    .p10img img{
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
margin: auto;    }
.p10item-text{
    text-align: center;
}
    .p10item-text i{
padding-right: 5px;
        font-size: 1.75em;
        /* z-index: 1; */
    }
    .p10item-text span{
        font-size: 18px;
        padding-right: 30px;
        padding-bottom: 20px;
        text-align: center;
        /* z-index: 1; */
    }
    .p10-itemh2{
        font-size: 18px;
        padding-top: 20px;
        color:darkred;
        z-index: 1;
    }
    .p10-itemp{
        padding-top: 10px;
        font-size: 15px;

    }
    .p10item::after{
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        z-index: -1;
        transition: .5s;
    }
    .p10item:hover::after{
        height: 100%;
        opacity: 1;
      

    }
    .p10item-text a{
        font-size: 25px;
        text-decoration:  none;
        color: rgb(0, 6, 55);
    }
    .p10item:hover .p10item-text span { color: white;
        transition: .5s;
    }
    .p10item:hover .p10item-text i { color: white;
        transition: .5s;
    }
    .p10item:hover .p10item-text p { color: rgb(195, 183, 183);
        transition: .5s;
    }
    .p10item:hover .p10item-text a { color: rgb(1, 24, 193);
        transition: .5s;
    }
    .p10item:hover .p10img {
        width: 100%;
        padding-left: 0%;
        transition: .5s;
        padding-top: 0;
    }
    /* page11///////////////////////////////////////////////////////////////////////////////////////////////// */
    .PAGE11{
        width: 100%;
        height: 68VH;
        background-color: rgba(27, 52, 27, 0.8);
        text-align: center;
    }
    .mcon{
        height: 100%;
        width: 100%;
        padding-top: 70px;
    }
    .lastimg{
        /* padding-top: 80px; */
        margin: auto;
        width: 20%;
        height: 250px;
        position: relative;
        transition: 1s;
        background-image: url(../images/header.jpeg);
        background-size: contain;
        border-radius: 50%;
    }
    .lastimg:hover{
        width: 25%;
        height: 300px;
        border-radius: 0%;
    }
    /* .lastimg img{
        width: 100%;
        height: 100%;
z-index: 1;
    } */
    .lastimg:hover .lay{background-color: rgba(0, 124, 249, 0.4);}
    .lay{
        width: 100%;
        height: 100%;
position: absolute;
z-index: 2;
background-color: rgba(0, 124, 249, 0.1);
border-radius: 50%;

    }
    .lay2{
        width: 100%;
        height: 100%;
position: absolute;
z-index: 2;
background-color: rgba(0, 124, 249, 0.2);
border-radius: 50%;
transition: 2s;
    }
    .lastimg:hover .lay2{border-radius: 0%;}
    .divicons{
        margin: auto;
        text-align: center;
        width: 50%;

    }
    .divicons ul{
        box-sizing: border-box;
    }
    .divicons li{
        display: inline-block;
        background-color: #5a8ff8;
        width:60px;
        height: 60px;
        position: relative;
        z-index: 1;
        border-radius: 50%;}

    .divicons li a {
        display: block;
            width:100%;
            height: 100%;
            color:#5883d9;
            color: #fff;
            line-height: 50px;
            padding-top: 15px;
            padding-right: 15px;
            font-size: 35px;
            margin: 0 8px;
    }
    
    .divicons li:after{
        position: absolute;
        content: "";
        opacity: 0;
        transition: .5s;
        background-color: #00359f;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0%;
        bottom: 0;
    }
    .divicons li:hover:after{
        opacity: .9;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 50%;
    }
